/node_modules
.gitattributes
.vscode/settings.json
.env
notes.txt
Commands/Public/reputation.js
schemas/userReputationSchema.js
Events/Logs/messageUpdate.js
Events/Logs/messageUpdate.js
Commands\Moderaion\welcome-leave.js
Events\Guilds\guildMemberAdd.js
Events\Guilds\guildMemberRemove.js